#
###### Data-Driven Prediction of Battery Cycle Life requirements.txt #######
#
###### Requirements without Version Specifiers ######
jupyter
#
###### Requirements with Version Specifiers ######
h5py>=3.10.0
matplotlib>=3.8,<3.12
numpy>=1.26,<2.0
pandas>=2.1,<2.4
scipy>=1.11,<1.13
